* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-component {
  background-color: rgb(175, 153, 197);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.cards-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: aqua;
  border: 1px solid red;
  padding: 8px;
}